* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* height: 100%; */
  /* width: 100%; */
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vh;
  border: 5px dashed #118ab2;
}

body p {
  line-height: 1.25rem;
}

.headings {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.complete-page-container {
  border: 5px solid palegreen;
  padding: 8% 8%;
  /* width: 100vw; */
}

header {
  border: 5px solid palegreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

header button {
  color: #ff52bf;
  background-color: #ffffff;
  border-color: #ff52bf;
  border-style:solid;
  border-radius: 1.5rem;
  padding: .2rem .8rem;
  font-size: .5rem;
}

.logo img {
  max-width: 5rem;
}

.box-1 {
  border: 5px solid palegoldenrod;
  text-align: center;
  padding: 8px;
  margin-bottom: 100px;
}

.box-1 p {
  margin-bottom: 50px;
}

.full-button {
  color: #ffffff;
  background-color: #ff52bf;
  border-color: #ff52bf;
  border-style: solid;
  border-radius: 1.5rem;
  padding: .5rem 2rem;
  display: block;
  margin: 0 auto;
}

.box-2 {
  border: 5px solid paleturquoise;
  margin-bottom: 100px;
}

.box-2 img {
  max-width: 100%;
}

.box-3 {
  border: 5px solid #a2d2ff;
  /* margin-bottom: 50px; */
  text-align: center;
}

.box-3 h1 {
  font-size: 3rem;
}

.box-3-left {
  border: 5px solid #118ab2;
  margin-bottom: 50px;
}

.box-3-right {
  border: 5px solid #fb5607;
}

.box-3-right p {
  margin-inline: 110px;
}

.icon {
  max-width: 20px;
  margin-left: -100px;
  margin-bottom: -10px;
}

.box-4 {
  border: 5px solid peachpuff;
  display: flex;
  flex-direction: column;
  background-color: #f5faff;
  margin-left: -10%;
  min-width: 120%;
  text-align: center;
}

.box-4 p {
  margin-inline: 30px;
}

.box-4-top {
  border: 5px solid #118ab2;
  margin-left: -10%;
  min-width: 120%;
    
}

.box-4-bot {
  border: 5px solid #118ab2;
  margin-left: -10%;
  min-width: 120%;
  margin-bottom: 130px;

}

.box-4-top img {
  min-width:100%;
}

.box-4-right img {
  max-width: 100%;
  padding:50px
}

.box-4-left {
  border: 5px solid #118ab2;
  order: 2;
}

.box-4-right {
  border: 5px solid #fb5607;
}

.box-5 {
  border: 5px solid #e76f51;
  text-align: center;
  margin-bottom: 100px;
}

.box-5 img {
  max-width: 100%;
}

.box-5-left {
  border: 5px solid #118ab2;
  margin-bottom: 80px;
}

.box-5-right {
  border: 5px solid #fb5607;
}

.box-6 {
  border: 5px solid #ccd5ae;
  display: flex;
  flex-direction: column;
  background-color: #f5faff;
  margin-left: -10%;
  min-width: 120%;
  text-align: center;
}

.box-6-top {
  border: 5px solid #118ab2;
  margin-left: -10%;
  min-width: 120%;

}

.box-6-bot {
  border: 5px solid #118ab2;
  margin-left: -10%;
  min-width: 120%;
  margin-bottom: 80px;

}

.box-6 img {
  max-width: 100%;
  padding: 50px;
}

.box-6-left {
  border: 5px solid #118ab2;
  order: 2;
}

.box-6-right {
  border: 5px solid #fb5607;
}

.box-6 p {
  margin-inline: 30px;
}

.box-7 {
  border: 5px solid #ffb4a2;
  text-align: center;
  margin-bottom: 100px;
}

.box-8 {
  border: 5px solid #fca311;
  margin-bottom: 50px;
  color: #f5faff;
  padding: 35px;
}

.box-8 h4 {
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 2rem;
  border-style:hidden;
  border-radius: 5px;
  border-color: #00252e;
}

.subs-button {
  display: block;
  color: #ffffff;
  background-color: #ff52bf;
  border-color: #ff52bf;
  border-style: solid;
  border-radius: 5px;
  padding: .4rem 2.5rem;
  display:inline-block;
  margin-top: 10px;
  float: right;
}

footer p {
  margin-bottom: 20px;
}

.logo-white {
  filter: invert(98%) sepia(18%) saturate(0%) hue-rotate(179deg) brightness(108%) contrast(107%);
  max-width: 200px;
  margin-bottom: 10px;
}

.box-9 {
  border: 5px solid #6a994e;
  color: #f5faff;
  padding: 35px;
}

.foot-icon {
  width: .8rem;
  margin-right: 8px;
}

.social-icon {
  margin-right: 5px;;
  margin-top: 10px;
}

footer {
  border: 5px solid palevioletred;
  margin-left: -10%;
  min-width: 120%;
  margin-bottom: -10%;
  background-color: #00252e;
}

.footer-top {
  margin-left: -10%;
  min-width: 120%;
}

.footer-top img {
  min-width: 100%;
}




@media (min-width: 770px) {
  .complete-page-container {
    max-width: 100%;
    max-width: 1200px;
    margin: 0 auto;

  }

  .complete-page-container p {
    font-size: 15px;
  }

  header button {
  color: #ff52bf;
  background-color: #ffffff;
  border-color: #ff52bf;
  border-style:solid;
  border-radius: 1.5rem;
  padding: 8px 25px;
}

  .box-3 {
    display: flex;
    flex-direction: row;
  }

  .box-4 {
    display: flex;
    flex-direction: row;
  }

  .box-4-right {
    order: 2;
  }

  .box-5 {
    display: flex;
    flex-direction: row;
  }

  .box-6 {
    display: flex;
    flex-direction: row;
  }

  .box-6-right {
    order: 2;
  }

  footer {
    display: flex;
  }

  .box-8 {
    order: 2;
  }

}